doc/
edu/
venv/
runs/
pybluez-master/
vision/train/
vision/val/
vision/yolo_data/data/
vision/yolo_data/test_aug/
vision/yolo_data/hand_made/
vision/points_data/
vision/yolo_data/points_data/
vision/clean_board.jpg
vision/test.mp4
vision/test_zoom_out.mp4
vision/test_zoom_out_more.mp4
vision/transformed_video_640x640.mp4
vision/transformed_video_640x640_reversed.mp4
vision/yolo11m.pt
vision/yolo11m_best.pt
vision/yolo11n.pt
vision/yolo11n_best.pt
/data_set/
points_learning_curve.jpeg